body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: rgb(56, 65, 65);
    width: 100%;
}

h1{
    border-style:groove;
   text-align: center;
   padding: 1%; 
   border-width: 10px;
   border-radius: 20px;
}

.menu {
    width: 100%;
    color: whitesmoke;
    margin: 2%;
    background-color: rgb(56, 65, 65);
    text-align: center;
}

.items > li {
    
    display: inline;
    margin: 30px;
    font-weight: bold;
    font-size: 30px;
}

.imagens {
    display: inline;
    width: 20%;
}

.animais {
    height: 250px;
    width: 300px;
    
}

.animais:hover{
    margin-bottom: 20px;

}

.fixed{
    position: fixed;
}