*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

header{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

body{
    font-family: sans-serif;
}
a span{
    color: red;
}
.menu{
    display: flex;
}

.menu li {
    margin-left: 7px;
}
ul{
    list-style: none;
}
.menu li .itens{
    padding: 10px;
}
.img-hvr{
    transition: 0.4s;
}
.itens{
    transition: 0.4s;
}

/* FIM DO MENU */
main{
    max-width: 69%;
    margin: 20px auto;
}


h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5%;
}

/* CONTAINER GRID */
.container-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 18px;
}

.card-aluno{
    width: 250px;
    margin: 10px;
    text-align: center;
    transition: 0.4s;
}

.card-aluno > p{
    line-height: 30px;
}

button{
    padding: 12px 20px;
    background: none;
    border: none;
    background-color:  red;
    border-radius: 4px;
    transition: 0.4s;
    font-weight: bold;
}

img{
    width: 150px;
    border-radius: 50%;
}

/* Footer */

footer{
    background-color: black;
    padding: 30px;
    text-align: center;
}

footer > p{
    color: whitesmoke;
}
