*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: whitesmoke;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* Espaço entre os elementos */
    justify-content: space-between; 
    background-color: black;
    padding: 25px;
}
.logo{
    width: 10%;
}


a{
   text-decoration: none;
   color: whitesmoke;
}

ul{
    display: flex;
}

ul  li {
    margin-left: 10px;
}

ul li a {
    padding: 10px;
}   
/* Titulo */
h1{
    text-align: center;
    margin: 50px;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;   
}

article{
    background-color: lightgray;
    width: 150px;
    margin: 10px;
    justify-content: center;
    flex: 1 1 20%;
}

.footer-art{
    text-align: center;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 2px;
    border-radius: 5px;
}