#form > h1:hover{
    color: white;
    display: block; 
}



.hvr-bk:hover{
    background-color: purple;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}


.btn:hover{
    background-color: whitesmoke;
    color: purple;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}