* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    background-color: #f7f7f7;
    font-family: sans-serif;
}

#form{
    padding: 30px;
    background-color: black;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
}

#form h1{
    color: purple;
}

#form label{
    color: whitesmoke;
}
::placeholder{
    text-align: center;
}

input[type='text'],
input[type='email'],
input[type='password']{
    background: none;
    border: none;
    border-bottom: 1px solid purple;
    margin-bottom: 30px;
    color: white;
    outline: none;
    padding: 10px;
}

.btn{
    transition: all 0.4s ease-in-out;
}

.btn{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    background: none;
    color: white;
    background: purple;
}

.hvr-bk{
    transition: all 0.4s ease-in-out;
}
